*{
    margin: 0;
    padding: 0;
}
#fantasma{
    display: none;
}

body{
   
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    position:relative;
    display: flex;
    margin: auto;
    box-sizing: border-box;
    background-image: url(Mapa_Bokislad.jpg);
    padding: 30px;
}
.leftbar  {
    left:0; 
    top:0;
    position:absolute
}
.rightbar {
    right:0;
     top:0;
     position:absolute
}
input{
    margin: 2px;
    justify-content: center;
    padding: 2px;
    align-items: center;
    border-radius: 4px;
    border-width: 0.0px;
    border-color: #f5f5f5;
    background: #e9e9e9;
    text-align: center;
    color: rgb(27, 27, 27) ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.habilidade2 input{
     margin: 2px;
    justify-content: center;
    padding: 2px;
    align-items: center;
    border-radius: 4px;
    border-width: 0.0px;
    
    background: #cccccc;
    text-align: center;
    color: rgb(44, 44, 44) ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

input[type="checkbox"] {
   
    width: 20px;                         /* Set width */
    height: 20px;                        /* Set height */
    clip-path: circle(30% at 50% 50%);   /* Set the clip path of circle*/
    
  }
  .condicoes input{
    background: #a7a7a7;
   
    
  }
.grid-ficha{
    display: grid;
    grid-template-columns: 180px 180px 250px 300px 350px 300px  ;
    grid-template-rows:  130px 190px 190px 170px 100px  ; 
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    background: rgba(255,255,255, 0.8);
    border-width: 0px;
    border-style:ridge;
    padding: 20px;
    margin: auto;
    column-gap: 40px;
    row-gap: 30px;
    font-size:medium;
    box-sizing: content-box;
    

}

.vidaMagia{
   
    display: flex;
    flex-direction: column;
   justify-content: space-between;
    gap: 20px;
    font-weight: 00;

   
}
.vida{
    display: flex;
    flex-direction: column;
  
    justify-content:space-between ;
}
.magia{
    display: flex;
    flex-direction: column;
    background: rgb(247, 247, 247);

    justify-content:space-between ;
}
.estamina{
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
}
.status{
    display: flex;
    align-content: space-between;
    justify-content: space-between;
}
.nomeEspecie{
grid-area:1/1/6/3 ;
display: flex;
flex-direction: column;
justify-content:start;
gap: 20px;
border-radius: 10px;
border-color: rgb(255, 255, 255);
background: rgb(255, 255, 255);
box-shadow: 4px 4px 10px 4px #afafaf ;
border-style:ridge;
border-width: 0px;
padding: 10px;

}
.ficha__nome{
display: flex;
flex-direction: column;
justify-content: center;
}
.ficha__especie{
display: flex;
flex-direction: column;
justify-content: center;
}
.exp{
display: flex;
flex-direction: column;
justify-content: center;
}
.complementos{
display: flex;
flex-direction: row;
gap: 5px;
justify-content: space-between;
}
.ficha__extra__input{
width: 148px;
}

.classes1234{
gap: 10px;
display: flex;
border-radius: 4px;
background: rgb(235, 235, 235);

border-style:ridge;
border-width: 0px;
padding: 2px;
padding-right: 10px;
justify-content:space-between;
             
 }
.classes{
display: flex;
flex-direction: row;
gap: 10px;
justify-content: left;
padding-right: 2px;
}
              

.antecedenteProfissaoEspecialização{
gap: 5px;
display: flex;
flex-direction: column;
justify-content: top;
/*grid-area: 3/ 1 / 5 / 3;*/
border-radius: 4px;
border-color: rgb(255, 255, 255);
   background: #ffffff;

border-style:ridge;
border-width: 0px;
padding: 2px;
}
.ficha__dados__antecedentes{
display: flex;
flex-direction: column;
justify-content: center;
}
.ficha__dados__especializacao{
display: flex;
flex-direction: column;
justify-content: center;
}
.ficha__dados__especializacao2{
display: flex;
flex-direction: column;
justify-content: center;
}
.ficha__dados__profissao{
display: flex;
flex-direction: column;
justify-content: center;
}

.ficha__dados__dano{
grid-area: 1/ 3 / 3/ 4;
display: flex;
flex-direction: column;
border-radius: 10px;
border-color: rgb(255, 255, 255);
background: #ffffff;
margin-bottom: 20px;
box-shadow: 4px 4px 10px 4px #afafaf ;
border-style:ridge;
border-width: 0px;
padding: 10px;
gap: 5px;

                            
}

.ficha__dados__acerto__valores{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
                        
}
                            
.ficha__dados__acerto__valores__CombateCorpoaCorpo{
display: flex;
flex-direction: column;
justify-content: left;
}
.ficha__dados__acerto__valores__CombateArcano{
display: flex;
flex-direction: column;
justify-content: left;

}
.ficha__dados__acerto__valores__Combateadistancia{
display: flex;
flex-direction: column;
justify-content: left;
}
                               
.ficha__dados__dano__valores{
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-area: 3/ 3 / 4/ 4;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
 background: #ffffff;    box-shadow: 4px 4px 10px 4px #afafaf ;
    border-style:ridge;
    border-width: 0px;
    padding: 10px;

}
.ficha__dados__dano__valores__danoFisico{
display: flex;
flex-direction: row;
justify-content: space-between;
gap: 20px;
background: lightgray;
 }
 .ficha__dados__danovalores__danoFisico__input{
    width: 40px;
    
 }
.ficha__dados__dano__valores__danoMagico{
    display: flex;
    flex-direction: row;
    justify-content: space-between;;
    gap: 10px;
 }
 .ficha__dados__danovalores__danoBonus{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 18px;
    background: lightgray;
}
.dinheiro{
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-area: 4/ 3 / 5/ 4;
      border-radius: 10px;
    border-color: rgb(255, 255, 255);
    background: #ffffff;   
     box-shadow: 4px 4px 10px 4px #afafaf ;
    border-style:ridge;
    border-width: 0px;
    padding: 10px;
}                                 
                                        
.ficha__dados__dinheiro__ouro{
display: flex;
flex-direction: row;
justify-content: space-between;
gap: 10px;
 }
.ficha__dados__dinheiro__prata{
display: flex;
flex-direction: row;
justify-content: space-between;
gap: 10px;
background: lightgray;
}
.ficha__dados__dinheiro__bronze{
display: flex;
flex-direction: row;
justify-content: space-between;
gap: 10px;
 }
p{
   
    padding: 2px;
    box-sizing: border-box;
    font-weight:600;
    font-size: large;
    
}                                        

.quadroHabilidade{
    grid-area: 1/ 4 / 6/ 7;
   
    display: grid;
    grid-template-columns: 135px  135px  135px  135px  135px  175px ;
    grid-template-rows: 50px  50px  80px  50px  80px  50px  80px  80px 80px  80px    ; 
    column-gap: 30px;
    row-gap: 24px;
    
    
}

#fisico{
    grid-area: 2/1/7/3;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
 background: #ffffff;    box-shadow: 4px 4px 10px 4px #afafaf ;
    border-style:ridge;
    border-width: 0px;
    gap: 10px;
    padding: 5px;

}
#conhecimento{
    grid-area: 7/1/11/3;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
 background: #ffffff;    box-shadow: 4px 4px 10px 4px #afafaf ;
    border-style:ridge;
    border-width: 0px;
    padding: 10px;
    gap: 10px;
    padding: 5px;

}
#social{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    background: #ffffff;    
    box-shadow: 4px 4px 10px 4px #afafaf ;
    border-style:ridge;
    border-width: 0px;
    padding: 10px;;
    gap: 10px;
   padding: 5px;
   grid-area: 1/5/5/7;
   
}

#exploracao{
    grid-area: 1/3/7/5;
    gap: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    background: #ffffff;   
    box-shadow: 4px 4px 10px 4px #afafaf ;
    border-style:ridge;
    border-width: 0px;
    padding: 10px;
    padding: 5px;

}
#arcana{
    grid-area:7/3/11/5;
    gap: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    background: #ffffff;    
    box-shadow: 4px 4px 10px 4px #afafaf ;
    border-style:ridge;
    border-width: 0px;
    padding: 10px;
    padding: 5px;

}
#condicoes{        
        grid-area: 5/5/11/7;
        gap: 10px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        border-color: rgb(255, 255, 255);
        background: #ffffff;    
        box-shadow: 4px 4px 10px 4px #afafaf ;
        border-style:ridge;
        border-width: 0px;
        padding: 10px;
        padding: 5px;
       
        
}
.habilidade1{
    display:flex;
    padding: 2px;
    gap: 10px;
    justify-content: space-between;
    border-radius: 3px;
    border-width: 1px;    

}
.habilidade2{
    display:flex;
    gap: 10px;
    justify-content: space-between;
    background: rgb(247, 247, 247);
    border-radius: 3px;
    border-width: 1px;
    padding: 2px;
 
    }
.habilidade{
    width: 30px;
}
.tituloHabilidade{
  
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: larger;
}