<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lamina do Oculto</title>

    <link rel="stylesheet" href="../assets/css/character_sheet.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/landing.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/main.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Aboreto&family=Krona+One&family=Montserrat:wght@400;600;700;800;900&family=Nunito+Sans:wght@200&family=Qwitcher+Grypen&family=Rajdhani:wght@300&family=Silkscreen&display=swap">
 
</head>

<body>
    <header class="titulo-principal">
        <h1 class="ola">Olá, aventureiro!</h1>
        <p class="pequeno">Bem vindo ao app para criar fichas do sistema LDO (Lamina do Oculto)</p>
    </header>
    
        <a href="../../index.html">Entrar</a>
  
</body>
<script src="../assets/js/main.js" type="text/javascript"></script>
</html>
