body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    box-sizing: border-box;
    background-image: url('../../imagens/Mapa_Bokislad.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1em;
    color: black;
    height: 120vh;
}

.canva{
    background: rgba(255, 255, 255, 0.548);
    border-radius: 10px;
    padding: 0;
    top: 0;
    margin:0 auto;
}

a {
    text-decoration: none;
    color: black;
}

.navbar {
    background-color: #cecece;
    color: #fff;
    padding: 10px;
 

}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.sidemenu {
    width: 250px;
    background-color: #555;
    color: #fff;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    transition: left 0.3s;
}

.sidemenu ul {
    list-style-type: none;
    padding: 0;
}

.sidemenu li {
    padding: 10px;
}

#menuButton {
    position: fixed;
    top: 10px;
    left: 40px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;

}

#menuButton:hover {
    color: #ccc;
}

.menu-item:hover {
    cursor: pointer;
}

.content {
    display: flex;
    padding: 20px;
    flex-flow: row wrap;
    justify-content: center;
}
.fichas-area{
    margin: auto;
}
  /* Estilo para esconder o modal por padrão */
        .modal {
            display: none;
            position: fixed;
            margin: 0 4rem;
            top: 0;
            left: 0;
            width: 90%;
            height: 100%;
            overflow: scroll;
            background-color: rgba(0, 0, 0, 0.5);
            align-items: center;
            justify-content: center;
            padding: 1rem;
        }

        /* Estilo para o conteúdo do modal */
        .modal-content {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            display: flex;
            flex-flow: row wrap;
        }

        .grid-ficha {
            display: flex;
            flex-flow: row nowrap;
            width: 100% ;
            justify-content: space-between;
            gap:1rem;
        }
        .nomeEspecie{
            display: flex;
            flex-flow: row wrap;
            width: 100% ;
            justify-content: space-between;
            gap:1rem;
        }
        .vidaMagia{
            display: flex;
            flex-flow: row nowrap;
            width: 100% ;
            justify-content: space-between;
            gap:1rem;
        }
        .vida, .magia, .estamina{
            display: flex;
            flex-flow: column nowrap;
            gap:0.5rem;
        }